* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}
button{
    cursor: pointer;
}
.header {
    background-color: #000000;
    display: flex;
    justify-content: center;
    /* Espaciado entre los elementos a los lados */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.header-login {
    padding: 18px 30px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.4px;
}

.header-login p {
    font-size: 20px;
    line-height: 20px;
}

.header-login img {
    width: 40px;
    padding: 0 10px;
}

.caja-principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    height: 100vh;
}

.caja-contenido {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

.caja-contenido b {
    font-size: 25px;
    line-height: 30px;
}

.caja-contenido span {
    font-size: 22px;
    line-height: 26.4px;
}

.formulario {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e3e3;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;
}
.formulario:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 0px;
}
.formulario form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    line-height: 27px;
    gap: 15px;
}

.formulario form input,
.formulario form label{
    font-size: 20px;
}

.formulario form input{
    border: none;
    border-bottom: 1px solid #757575;
}
.formulario form button {
    padding: 10px 10px;
    width: 260px;
    font-size: 20px;
    background-color: #000000;
    color: white;
}

.formulario form a,
.formulario form span {
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.formulario span {
    text-align: center;
}
.temporal{
    color: red;
}

.formulario form a,
.formulario button{
    color: #3f51b5;
}
.formulario .comunicados{
    padding: 8px 15px; 
    font-weight: bold;
    color: #007bff;
    background-color: #ffffff;
}
.comunicados:hover{
    background-color: #e2e1e1;
}
#google-signin-button{
    color: #929292;
}

/* Estilo para el botón de Iniciar sesión con Google */
.google-button {
    background-color: #ffffff;
    /* Color principal de Google */
    color: #000000;
    /* Color del texto */
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    width: 270px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}

.google-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 0px;
}

/* Estilo para el icono de Google */
.google-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}